body {

    background-image: url(csspattern3.png);

}

.dark-mode {
    background-color: black;
    color: white;
    background-image: url(css2-pattern-by-magicpattern.png);
  }

#nav {

    border: 1% solid black;
}


#Welcome {

    padding-left: 1%;
}

#blank {

    color: white;
    text-decoration: none;
    
}

#blank1 {
    color: grey;
    text-decoration: none;
    padding-left: 35%;
}

.iconesocial {

    text-align: center;
    padding-top: 10%;



}

 

.fa {
    padding: 20px;
    font-size: 30%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }


  #linkedin {

    color: rgb(135, 135, 135);
    font-size: 2em;
  }

  #github {

    color: rgb(135, 135, 135);
    font-size: 2em;
  }
  
  .fa:hover {
      opacity: 0.7;
  }


#presentazione {
    text-align: center;
    font-size: 1.3em;


}
.col1 img {

    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    width: 30%;
    border: solid 10% black;
}



#footer {

    background-color: rgb(194, 194, 194);
    opacity: 90%;
    height: 20%;
}

#Copyright {
    background-color: rgb(194, 194, 194);
    color: rgb(192, 192, 192, 1);
    height: 20%;
    opacity: 90%;
   
}

.card {

    color: rgb(17, 17, 17);
}




@media only screen and (max-width: 600px){

    .col1 img {

        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
        width: 50%;
        border: solid 2% black;


}

#linkedin {

    color: rgb(135, 135, 135);
    font-size: 2em;
  }

  #github {

    color: rgb(135, 135, 135);
    font-size: 2em;
  }

  .card {

    color: rgb(15, 15, 15);
}


}
